<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">
            Auth Key :
        </label>
        <div class="controls">
            <input type="text" class="span11" placeholder="Auth Key" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Factory :
        </label>
        <div class="controls">
            <input type="text" class="span11" placeholder="Factory" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Type :
        </label>
        <div class="controls">
            <input type="text" class="span11" placeholder="Type" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Date
        </label>
        <div class="controls">
            <input type="text" data-date-format="yyyy-mm-dd" class="datepicker span11">
            <span class="help-block">Date with Formate of (yyyy-mm-dd)</span>
        </div>
    </div>
    <div class="control-group" style="padding-top:10px;padding-bottom:10px;float:right;border-top:none;">
        <button type="button" class="btn btn-primary">Clear</button>
        <button type="submit" class="btn btn-success" style="margin-left:15px;">Save & New</button>
        <button type="submit" class="btn btn-success" style="margin-left:15px;">Save & Close</button>
    </div>
</form>
